<app-menu></app-menu>
<div class="header-main">
  <ng-container>
    <ng-template #mainMenu *ngTemplateOutlet="menu;context:{cellvalue :2}">
    </ng-template>
  </ng-container>
</div>

<mat-toolbar class="secondToolbar" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
  <ng-template #stickyMenu *ngTemplateOutlet="menu">
  </ng-template>
</mat-toolbar>

<ng-template #menu>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid p-0">
      <a class="navbar-brand" routerLink='home'><img src="../../assets/logo.png">Ainvnt</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-auto" id="headerNav">
        <ul class="navbar-nav" [routerLinkActiveOptions]="{exact: true}">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['linkActive']" routerLink='home'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"[routerLinkActive]="['linkActive']"  routerLink='aboutus'>About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['linkActive']" href="javascript:void">Solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['linkActive']" routerLink='services'>Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['linkActive']" href="javascript:void">Expertise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['linkActive']" href="javascript:void">Innovations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void">Our Technology</a>
          </li>

          <li class="nav-item dropdown" style="display: none;">
            <a class="nav-link dropdown-toggle"href="javascript:void" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="javascript:void">Action</a></li>
              <li><a class="dropdown-item" href="javascript:void">Another action</a></li>
              <li><a class="dropdown-item" href="javascript:void">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLinkActive]="['linkActive']" routerLink='contactus'>Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ng-template>