<div>
    <mat-grid-list cols="12" rowHeight="4:1">
        <mat-grid-tile>&nbsp;</mat-grid-tile>
        <mat-grid-tile>&nbsp;</mat-grid-tile>
        <mat-grid-tile>info@ainvnt.com</mat-grid-tile>
        <mat-grid-tile>&nbsp;</mat-grid-tile>
        <mat-grid-tile>&nbsp;</mat-grid-tile>
        <mat-grid-tile>&nbsp;</mat-grid-tile>
        <mat-grid-tile>&nbsp;</mat-grid-tile>
        <mat-grid-tile>&nbsp;</mat-grid-tile>
        <mat-grid-tile>
            <mat-icon>face</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-icon>face</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-icon>face</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile>&nbsp;</mat-grid-tile>
    </mat-grid-list>
</div>