<div class="banner-ds">
  <img src="../../../assets/banner.jpg" alt="">
</div>

<div class="about-us row section-div-bg">
  <div class="col-sm-6 p-0">
    <div class="about-us-img-div">
      <div class="aboutus-div-img">
        <img src="../../assets/aboutus.jpg" alt="" class="aboutus-img">
      </div>
      <div class="topbg"></div>
      <div class="bottombg"></div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="about-us-text-main">
      <div class="about-us-text">
        <label class="sec-sub-title">About Us</label>
        <p class="sec-main-content-title">We provide Sophisticated Strategies.</p>
        <p class="sec-main-content">We are assisting our clients with accomplishing their business centers by
          effectively reallocating their non-center business handle and passing around embraced plans.</p>
        <p class="sec-small-content">
          Established in 2022, Ainvnt Service Pvt Ltd is an exceptionally regarded arrangement supplier situated in
          Hyderabad, India. In this brief time frame we have cut an advantageous specialty for
          ourselves in this profoundly cutthroat market, inferable from the remarkable nature of our item.
        </p>
        <p class="sec-small-content">With the best ability in the business, we offer you authentic reasonable
          administrations with genuine client driven approach.</p>
        <p class="sec-small-content">Our Software Development Team is a special combination of involvement and abilities
          that will assist you with accomplishing the ideal benefit your business needs with settling in high quality.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row section-div">
  <label class="sec-sub-title center-title">Our services</label>
  <div class="cards-sec">
    <!-- <div class="col-sm-4"> -->
    <div class="card-main">
      <label for="" class="card-title">Application Services</label>
      <p class="card-content">Ainvnt serivce offers savvy custom application administrations arrangements on a wide
        scope of stages.</p>
    </div>

    <div class="card-main">
      <label for="" class="card-title">Software Development</label>
      <p class="card-content">We offer complete arrangements that work on the improvement cycle applications with
        enormous information.</p>
    </div>

    <div class="card-main">
      <label for="" class="card-title">Project Management</label>
      <p class="card-content">We will help your organization in really arranging, planning, organizing, staffing,
        leading/directing, overseeing and executing.</p>
    </div>

    <div class="card-main">
      <label for="" class="card-title">Cloud Computing</label>
      <p class="card-content">Distributed computing comprises of an enormous pool of frameworks that are associated in
        private cloud network.</p>
    </div>

    <div class="card-main">
      <label for="" class="card-title">IT Consulting</label>
      <p class="card-content">Ainvnt administration IT Consulting is coordinated towards, that organizations wish to
        take up the support and develop the business.</p>
    </div>

    <div class="card-main">
      <label for="" class="card-title">Devops Automation</label>
      <p class="card-content">Ainvnt service can assist your organization in migrating securely to the cloud and offer
        support during the initial stages of transformation.</p>
    </div>
  </div>
</div>