<div class="banner">
  <div class="banner-img">
    <img src="../../../assets/aboutus.png" alt="">
  </div>
  <label for="">About Us</label>
</div>
<div class="about-us row section-div-bg">
    <div class="col-sm-6 p-0">
      <div class="about-us-img-div">
        <div class="aboutus-div-img">
          <img src="../../assets/aboutus.jpg" alt="" class="aboutus-img">
        </div>
        <div class="topbg"></div>
        <div class="bottombg"></div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="about-us-text-main">
        <div class="about-us-text">
          <label class="sec-sub-title">About Us</label>
          <p class="sec-main-content-title">We Provide Lorem, ipsum dolor.</p>
          <p class="sec-main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis vero magnam
            facilis cum dolorem sint eum quaerat voluptates dolor? Fugiat ea voluptas facilis? Dignissimos reiciendis
            delectus non voluptate unde, cumque adipisci eligendi. Ex, nulla porro. Aperiam impedit sapiente placeat eum
            iure ullam a harum recusandae quo expedita dolores, perspiciatis excepturi.</p>
          <p class="sec-small-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tempora nisi vitae
            corporis quidem, rerum veniam dolorem consectetur voluptatem neque iste provident atque nostrum harum.</p>
          <p class="sec-small-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur odio ab
            consectetur libero explicabo et provident totam inventore vero earum.</p>
        </div>
      </div>
    </div>
  </div>