<div class="banner">
  <div class="banner-img">
    <img src="../../../assets/contactus.png" alt="">
  </div>

  
  
  <label for="">Contact Us</label>
</div>
<div class="row section-div">
<div class="col-sm-4 pl-0">
<div class="contact-card">
  <div class="contact-card-icon">
    <mat-icon> location_on</mat-icon>
  </div>
  <div class="contact-card-text">
    <label for="">Ainvnt Solutions</label>
    <p class="contact-text">301, Padmini Nilayam, Balaji nagar,<br> APHB Colony, Kukatpally, <br>Hyderabad, Telangana, 500072</p>
  </div>
</div>

<div class="contact-card">
  <div class="contact-card-icon">
    <mat-icon> mail_outline</mat-icon>
  </div>
  <div class="contact-card-text">
    <label for="">Email Id</label>
    <a class="contact-text" href="mailto:info@ainvnt.com">info@ainvnt.com</a>
  </div>
</div>   
</div>
  <div class="col-sm-7 offset-sm-1">
    <div class="row contactus-form">
      <label class="sec-sub-title center-title">Ask you Questions here.</label>
    <mat-form-field appearance="fill" class="col-sm-6">
      <mat-label>First Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-sm-6">
      <mat-label>Last Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-sm-6">
      <mat-label>Phone No</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-sm-6">
      <mat-label>Email ID</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Your Question</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <button mat-button class="btn btn-primary">Submit</button>
  </div>
  </div>
  
</div>

<div class="gmap-styles"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=200&amp;hl=en&amp;q=Padmini%20Nilayam,%20Balaji%20nagar,%20APHB%20Colony,%20Kukatpally,%20Hyderabad,%20Telangana,%20500072+(Ainvnt%20Service%20Private%20Limited)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/sport-gps/">swimming watch</a></iframe></div>