<div class="banner">
  <div class="banner-img">
    <img src="../../../assets/contactus.png" alt="">
  </div>
  <label for="">Contact Us</label>
</div>

<div class="row section-div">
  <div class="col-sm-4 pl-0">
    <div class="contact-card">
      <div class="contact-card-icon">
        <mat-icon> location_on</mat-icon>
      </div>
      <div class="contact-card-text">
        <label for="">Ainvnt Service</label>
        <p class="contact-text">301, Padmini Nilayam, Balaji nagar,<br> APHB Colony, Kukatpally, <br>Hyderabad,
          Telangana, 500072</p>
      </div>
    </div>

    <div class="contact-card">
      <div class="contact-card-icon">
        <mat-icon> mail_outline</mat-icon>
      </div>
      <div class="contact-card-text">
        <label for="">Email Id</label>
        <a class="contact-text" href="mailto:info@ainvnt.com">info@ainvnt.com</a>
      </div>
    </div>
  </div>
  <div class="col-sm-7 offset-sm-1">
    <div class="row contactus-form">
      <label class="sec-sub-title center-title">Ask you Questions here.</label>
      <mat-form-field appearance="fill" class="col-sm-6">
        <mat-label>First Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-sm-6">
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-sm-6">
        <mat-label>Phone No</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-sm-6">
        <mat-label>Email ID</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Your Question</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-button class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
<app-location></app-location>