<div class="banner">
    <div class="banner-img">
      <img src="../../../assets/services.png" alt="">
    </div>
    <label for="">Services</label>
  </div>
  <div class="row section-div">
    <label class="sec-sub-title center-title">Our services</label>
    <div class="cards-sec">
      <!-- <div class="col-sm-4"> -->
      <div class="card-main">
        <label for="" class="card-title">Application Services</label>
        <p class="card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt alias ut provident vitae consectetur eaque, optio dolor soluta officiis impedit sit omnis delectus unde totam.</p>
        
      </div>
      <div class="card-main">
        <label for="" class="card-title">Application Services</label>
        <p class="card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt alias ut provident vitae consectetur eaque, optio dolor soluta officiis impedit sit omnis delectus unde totam.</p>
        
      </div>
      <div class="card-main">
        <label for="" class="card-title">Application Services</label>
        <p class="card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt alias ut provident vitae consectetur eaque, optio dolor soluta officiis impedit sit omnis delectus unde totam.</p>
        
      </div>
  
      <div class="card-main">
        <label for="" class="card-title">Application Services</label>
        <p class="card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt alias ut provident vitae consectetur eaque, optio dolor soluta officiis impedit sit omnis delectus unde totam.</p>
        
      </div>
      <div class="card-main">
        <label for="" class="card-title">Application Services</label>
        <p class="card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt alias ut provident vitae consectetur eaque, optio dolor soluta officiis impedit sit omnis delectus unde totam.</p>
        
      </div>
      <div class="card-main">
        <label for="" class="card-title">Application Services</label>
        <p class="card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt alias ut provident vitae consectetur eaque, optio dolor soluta officiis impedit sit omnis delectus unde totam.</p>
        
      </div>
    <!-- </div> -->
    </div>
  </div>